@{
    ViewBag.Title = "Sobre Nós";
}
<h2 class="page-header">@ViewBag.Title</h2>
<br/>
<div class="col-lg-12" style="font-size: 18px;">
    <p>A <strong>RentYourCar</strong> é uma plataforma online de aluguer de veículos.</p>
    <p>Nesta plataforma, os veículos podem ser listados para aluguer, tanto por empresas como por utilizadores particulares.</p>
    <p>Os veículos podem depois ser alugados por utilizadores particulares, mediante a aprovação do respetivo dono.</p>
    <p>A utilização da plataforma é gratuita para todos os utilizadores.</p>
</div>

<br /><br />
<div class="col-lg-12">
    <h3>Perguntas Frequentes</h3>
    <br/>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>De onde é que a RentYourCar obtém rendimentos, se a utilização da plataforma é gratuita?</strong></div>
        <div class="panel-body">
            A RentYourCar é um projeto criada no âmbito da unidade curricular de Programação Web,
            da Licenciatura em Engenharia Informática do Instituto Superior de Engenharia de Coimbra.
            Assim, os seus criadores não têm interesse em obter rendimentos monetários da plataforma.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Como posso ter a certeza de que os vários fornecedores de serviço são fidedignos?</strong></div>
        <div class="panel-body">
            A plataforma disponibiliza um sistema que permite aos clientes avaliarem tanto o fornecedor de serviço, como a própria viatura.
            Esta avaliação apenas pode ser feita após a conclusão de um aluguer e até um mês depois dessa data.
            Os clientes poderão consultar estas avaliações e tomar as suas decisões com base nelas.
            Deste modo, os criadores da plataforma não se responsabilizam por eventuais situações de fraude.
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Como posso ter a certeza de que os vários clientes que usam a plataforma são de confiança?</strong></div>
        <div class="panel-body">
            A plataforma disponibiliza um sistema que permite também aos fornecedores de serviço avaliarem os respetivos clientes.
            Esta avaliação apenas pode ser feita após a conclusão de um aluguer e até um mês depois dessa data.
            Os prestadores de serviço poderão consultar estas avaliações e tomar as suas decisões com base nelas.
            Deste modo, os criadores da plataforma não se responsabilizam por eventuais situações de fraude ou de danos causados nas viaturas.
        </div>
    </div>
</div>
