@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RentYourCar</h1>
    <p class="lead">RentYourCar é um serviço online de aluguer de automóveis.</p>
    <p>@Html.ActionLink("Saiba mais", "About", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Profissionais</h2>
        <p>
            Se tem uma empresa de aluguer de automóveis, pode listar os seus veículos no nosso website,
            permitindo-lhe chegar de forma rápida e simples aos seus clientes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Particulares</h2>
        <p>
            Os utilizadores particulares podem não só alugar os veículos disponibilizados,
            mas também colocar as suas próprias viaturas à disposição.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Serviço Gratuito</h2>
        <p>A utilização dos nossos serviços é gratuita, garantindo que os seus dados não são divulgados.</p>
        <p>@Html.ActionLink("Registe-se", "Register", "Account", null, new {@class="btn btn-default"})</p>
    </div>
</div>