@model IEnumerable<RentYourCar_PWEB.Models.Aluguer>
@{
    ViewBag.Title = "Lista de Alugueres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Lista de Alugueres</h2>

@if (!Model.Any())
{
    <p>Não existem alugueres.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Veiculo</th>
                <th>Período</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Cliente.Nome</td>
                    <td>@item.Veiculo.Matricula</td>
                    <td>@item.Inicio.ToShortDateString() até @item.Fim.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}